<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Alarm </h1>
<p>
  Boat <%= @boat.id %>leaves the radius of 50m around the berth <%= @boat.berth.id %>
</p>

</body>
</html>